extends template/layout

block content 
    header 
        h1 Best Horror Scenes
        .bottom 
            h3 An ever growing collection featuring some of the best scenes in horror.
            p “Best Horror Scenes” is a collection of scenes I feel are some of the most affecting in horror. Some may be simple black cat scares, others may be more subdued or nuanced. Many come from films that aren't necessarily “horror” but have elements or threads of horror. 
            nav 
                ul 
                    li Newsletter
                    li Suggest a Scene
                    li YouTube
                    li Twitter
                    li Contact
                    li RSS
                    li Letterboxd
    main 